body {
    background-color: skyblue;
    color: white;
}

header {
    font-size: 125px;
    text-align: center;
}

.items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.items div {
    border: 2px solid pink;
    background-color: #32cd32;
    text-align: center;
    margin: 4px;
}


/*h1 {
    color: yellow;
}
*/
.row1,
.row2 {
    border-radius: 25px;
    padding: 20px;
}

.button{
    text-align:center;
    height:1fr;
    width:5fr;
}

button{
    position:relative;
    top:50%;
}

/*.div .h1 {
    position:absolute;
    background: #000;
    width: 50vw;
    height: 50vw;
}
*/